[Desktop Entry]
Name=Framebuffer Emulator
Comment=Virtual Framebuffer Viewer
Exec=/usr/local/bin/emul_fb
Icon=/usr/share/icons/emul_fb.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Graphics;
